.elements__container {
    width: 90vw;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
}
.elements {
    width: 30vw;
    color: #222830;
    margin: 30px;
    padding: 30px;
}
.one {
    background-color: ivory;
}
.two {
    background-color: gold;
}
span {
    border: 1px solid #222830;
}
.view {
    border: 1px solid #222830;
}
@media (max-width: 750px) {
    .elements__container {
    flex-wrap: wrap;
    margin: 50px auto 90px auto;
    }
    .elements {
        width: 85vw;
        margin: 30px auto;
    }
}