.elements__container {
    width: 90vw;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
}
.elements {
    width: 30vw;
    color: #222830;
    margin: 30px;
    padding: 30px;
}
.one {
    background-color: ivory;
}
.two {
    background-color: gold;
}
span {
    border: 1px solid #222830;
}
.view {
    border: 1px solid #222830;
}
a{
    color: ivory;
    text-decoration: none;
}
.snippets {
    width: 90vw;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: auto;
}
img{
    display: block;
    width: 100%;
    overflow: auto;
}
.overflowed-pic {
    size: inherit;
    margin: 0 !important;
}
table{
    margin: auto 25vw 7.5vh 25vw;
}
@media (max-width: 1370px){
    table{
        margin: auto 12.5vw 7.5vh 12.5vw;
    }
    .snippets{
        width: 95vw;
        margin: auto;
    }
    .snippet{
        width: 35vw;
        margin: 0 2vw 2.5vh 2vw;
    }
}
@media (max-width: 780px) {
    .elements__container {
    width: 98vw;
    flex-wrap: wrap;
    margin: 5vh auto 10.5vh auto;
    }
    .snippet{
        width: 60vw !important;
        margin: 2vh !important;
    }
    .elements {
        width: 35vw;
        margin: 0 3vw;
    }
    .image {
        width: auto;
    }
}

@media (max-width: 500px){
    table{
        margin: 5vh 0;
    }
    .elements {
        width: 95vw;
        margin: 1vh 3vw;
    }
    .snippet{
        width: 98vw !important;
        margin: auto !important;
    }
    figure {
        width: 90vw;
        padding-right: 5vw;
    }
}
